<div class="tweet">
	<blockquote>
		<div class="tweet_img">
			<%= image_tag(tweet.user.profile_image_url_https) %>	
		</div>
	  <p><%= tweet.text %> </p>
	  <small>By <%= tweet.user.name %> <%= time_ago_in_words(tweet.created_at) %> ago.</small>
	</blockquote>
</div>
