<div class="tweet">
	<div class="user_image">
		<%= image_tag(tweet.user.profile_image_url_https) %>	
	</div>
	<br/>
	
	<div class="tweet_info">
		<h3> <%= tweet.user.name %> </h3>
		<br/>
		
		<p> <%= tweet.text %> </p>
		<br/>
		
		<small> <%= tweet.created_at %> </small>
		<br/>
		<br/>
		
	</div>
</div>
